body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #3d56b4;
  /* height: 50px; */
  padding: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 365px;
  position: relative;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94%;
  width: 35px;
  padding: 0;
  border: 0px;
  position: absolute;
  transform: translate(-102%);
  left: 100%;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

input {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  border-radius: 4px;
  padding-left: 8px;
  font-size: 18px;
}

input:focus {
    outline: 0px;
    box-shadow: 0px 2px 6px 7px #0000003d;
    transition: box-shadow 100ms ease-out;
}